#board1 {
  margin: auto;
  width: 50%;
  padding: 10px;
  vertical-align: middle;
}

footer {
  position: fixed;
  padding: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.undo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  height: 50px;
  position: relative;
}
